<!DOCTYPE html>
<html la ng="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <title> ALL STUDENT RECORDS</title>
</head>
<body bgcolor="pink">
<font colour="green" size="8">
    <ol>

    {% for obj in stdobj %}
        <li>
            {{obj.id}}:{{obj.name}}:{{obj.marks}}
            <a href="delete/{{obj.id}}"><button type="button" class="btn btn-danger">Delete</button>

        </a>
        </li><br>

        {% endfor %}


        </ol>

</font>
</body>
</html>